.main-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    display: relative;
}

.centered {
    box-sizing: border-box;
    position: absolute;
    width: 450px;
    height: 500px;
    background: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid #FFFFFF;
    border-radius: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.actions-wrapper {
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    height: 150px;
    display: grid;
    row-gap: 10px;
    transform: translate(-50%, -50%);
}

.resoults-wrapper {
    position: absolute;
    width: 280px;
    height: 100%;
    top: 50%;
    left: 50%;
    height: 150px;
    transform: translate(-50%, -50%);
}

.score-wrapper {
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.loading-pic {
    width: 450px;
    height: 500px;
}

.score-text {
    color: white;
    font-size: 90px;
    width: fit-content;
}

.score-div {
    text-align: center;
    justify-content: center;
    display: flex;
    align-self: center;
    align-items: baseline;
}

.input-style-intput {
    width: -webkit-fill-available;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    color: #313149;
    font-size: 16px;
}

    .input-style-intput:focus {
        outline: none !important;
        border-color: #6a82fb;
    }


.button-style {
    width: inherit;
    height: 50px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(200deg, #FC5C7D, #6A82FB) border-box;
    color: #313149;
    border: 4px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

    .button-style:hover {
        width: inherit;
        height: 50px;
        border-radius: 20px;
        border: 0px;
        color: white;
        background: linear-gradient(92.38deg, #353882 0%, #FC5C7D 100%);
        transition: .9s;
    }




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}


@media (max-width: 500px) {
    .centered {
        box-sizing: border-box;
        position: absolute;
        width: 250px;
        height: 300px;
        background: green;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.1);
        border: 5px solid #FFFFFF;
        border-radius: 40px;
    }

    .score-text {
        font-size: 50px;
    }

    .actions-wrapper {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        height: 250px;
        transform: translate(-50%, -50%);
    }

    .loading-pic {
        width: 230px;
        height: 300px;
    }

    .input-style-intput {
        width: -webkit-fill-available;
        height: 50px;
        background: rgba(255, 255, 255, 0.2);
        border: 4px solid #FFFFFF;
        border-radius: 20px;
        text-align: center;
        font-weight: 600;
        color: #313149;
        font-size: 16px;
    }

        .input-style-intput:focus {
            outline: none !important;
            border-color: #313149;
        }
}
